<div class="box search-box">
    <div class="search-cont"> 
        <form id="search-form">
        <div class="field"> 
            <label class="label">Select Search Type:</label>
            <div class="control">
                <div class="select"> 
                    <select id="search-type">
                        <option value="top250">Top 250 Movies</option>
                        <option value="popular">Most Popular Movies</option>
                        <option value="name">Movie Name</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="field" id="name-input-field">
            <div class="control">
                <input type="text" class="input" placeholder="Enter Movie Name">
            </div>
        </div>
    </form>
    </div>
    <script src="../public/javascript/search.js"></script>
</div>