<div class="box watchlist-box">
    <h2 class="title is-size-5">Watchlist</h2>
    {{#if data.watchlisted_movies.length}}
    <ul>
        {{#each data.watchlisted_movies as |movie|}}
            <li class="movie-list-item">
                <img class="movie-img" id="${movie.id}-img" src="{{movie.image}}">
                <div class="movie-info">
                    <p id="{{movie.id}}-title" class="title is-size-6 movie-title">
                    {{movie.title}}
                    </p>
                    <button value="{{movie.id}}" class="button is-small movie-button" onclick="deleteFromWatchlist(event)">
                    Delete from Watchlist
                    </button>
                </div>
            </li>
        {{/each}}
    </ul>
    {{/if}}
</div>