.body {
    height: fit-content;
}
.main-section {
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.auth-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.login-box, .signup-box {
    margin: 12px;
    width: fit-content;
    flex: 1;
}
.box {
    width: 100%;
}
.search-box, .homepage-box {
    height: 85vh;
}
.watchlist-box {
    height: 85vh;
    max-height: fit-content;
}
.search-cont {
    padding: 12px;
    width: 100%;
    border: 2px solid lightgray;
}
.result-cont {
    height: fit-content;
    max-height: 90%;
    overflow-y: auto;
}
.homepage-cont, .watchlist-cont {
    height: 90%;
    overflow-y: auto;
}
.movie-list-item {
    margin: 12px 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.movie-img {
    height: 125px;
}
.movie-info {
    height: 125px;
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.movie-button {
    width: fit-content;
}
#notif-cont {
    width: 100%;
    margin-top: 24px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.watchlist-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 50px;
    height: fit-content;
    margin-bottom: 12px;
}
.modal-movie-info {
    width: 100%;
    display: flex;
}
.movie-text {
    margin-left: 12px;
}
.modal-movie-img {
    width: 50%;
    height: auto;
}
.review-list-item {
    padding: 8px;
    border: 2px solid grey;
    border-radius: 5px;
}
.review-title {
    width: fit-content;
    border-bottom: 1px solid grey;
}
.review-star {
    color: orange;
}

@media screen and (max-width: 770px) {
    .result-cont {
        height: 400px;
    }
}

@media screen and (max-width: 575) {
    .modal-movie-info {
        width: 100%;
        flex-direction: column;
    }
    .movie-text {
        margin: none;
    }
    .modal-movie-img {
        width: 100%;
        height: 250px;
    }
}