.body {
    height: 100vh;
}
.main-section {
    position: fixed;
    height: 90vh;
    width: 100%;
    margin: auto;
    margin-top: 5vh;
    display: flex;
    justify-content: center;
}
.auth-box {
    width: fit-content;
}
.search-box {
    width: 100%;
}
.search-cont {
    padding: 12px;
    width: 100%;
    border: 2px solid lightgray;
}
.result-cont {
    height: 90%;
    overflow-y: auto;
}
.movie-list-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.movie-img {
    height: 100px;
}
.movie-info {
    margin-left: 8px;
    display: flex;
    flex-direction: column;
}
.movie-button {
    width: fit-content;
}
